# Importing Libraries for Data Engineering

In [1]:
import numpy as np
import pandas as pd

# Loading Dataset

In [2]:
sensors_data = pd.read_excel('PL_smoothed_48_frontback_400_Reg4.xlsx', header=None)

In [3]:
sensors_data

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,166.569436,193.391365,123.258553,161.318217,201.560715,224.090394,169.999229,197.243005,167.204291,181.073652,...,162.297752,159.655833,175.552848,133.955240,206.273749,178.683373,155.515330,185.513735,108.983841,150.491380
1,166.569436,193.391365,123.258553,161.318217,201.560715,224.090394,169.999229,197.243005,167.204291,181.073652,...,162.297752,159.655833,175.552848,133.955240,206.273749,178.683373,155.515330,185.513735,108.983841,150.491380
2,166.569436,193.391365,123.258553,161.318217,201.560715,224.090394,169.999229,197.243005,167.204291,181.073652,...,162.297752,159.655833,175.552848,133.955240,206.273749,178.683373,155.515330,185.513735,108.983841,150.491380
3,166.569436,193.391365,123.258553,161.318217,201.560715,224.090394,169.999229,197.243005,167.204291,181.073652,...,162.297752,159.655833,175.552848,133.955240,206.273749,178.683373,155.515330,185.513735,108.983841,150.491380
4,166.569436,193.391365,123.258553,161.318217,201.560715,224.090394,169.999229,197.243005,167.204291,181.073652,...,162.297752,159.655833,175.552848,133.955240,206.273749,178.683373,155.515330,185.513735,108.983841,150.491380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,188.750290,173.224806,137.433375,108.995220,232.178607,219.353269,197.074930,179.281776,180.859839,170.485634,...,166.265764,177.816712,174.007691,111.430212,222.595107,181.090570,188.305669,172.070544,138.297382,107.552498
2439,188.750290,173.224806,137.433375,108.995220,232.178607,219.353269,197.074930,179.281776,180.859839,170.485634,...,166.265764,177.816712,174.007691,111.430212,222.595107,181.090570,188.305669,172.070544,138.297382,107.552498
2440,188.750290,173.224806,137.433375,108.995220,232.178607,219.353269,197.074930,179.281776,180.859839,170.485634,...,166.265764,177.816712,174.007691,111.430212,222.595107,181.090570,188.305669,172.070544,138.297382,107.552498
2441,188.750290,173.224806,137.433375,108.995220,232.178607,219.353269,197.074930,179.281776,180.859839,170.485634,...,166.265764,177.816712,174.007691,111.430212,222.595107,181.090570,188.305669,172.070544,138.297382,107.552498
2442,188.750290,173.224806,137.433375,108.995220,232.178607,219.353269,197.074930,179.281776,180.859839,170.485634,...,166.265764,177.816712,174.007691,111.430212,222.595107,181.090570,188.305669,172.070544,138.297382,107.552498

In [4]:
position_data = pd.read_excel('Real positions_48_frontback_400_and_600_Reg4_Reg5.xlsx', header=None)

In [5]:
position_data

              0          1       2
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

# Data Engineering

### Sensors Data -- Labeling Columns

In [6]:
Sensors_Number_of_Columns = sensors_data.shape[1]

In [7]:
Sensors_columns = ["sensor" + str(x) for x in range(1,Sensors_Number_of_Columns + 1)]
sensors_data.columns = (Sensors_columns)

In [8]:
sensors_data

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,...,sensor39,sensor40,sensor41,sensor42,sensor43,sensor44,sensor45,sensor46,sensor47,sensor48
0,166.569436,193.391365,123.258553,161.318217,201.560715,224.090394,169.999229,197.243005,167.204291,181.073652,...,162.297752,159.655833,175.552848,133.955240,206.273749,178.683373,155.515330,185.513735,108.983841,150.491380
1,166.569436,193.391365,123.258553,161.318217,201.560715,224.090394,169.999229,197.243005,167.204291,181.073652,...,162.297752,159.655833,175.552848,133.955240,206.273749,178.683373,155.515330,185.513735,108.983841,150.491380
2,166.569436,193.391365,123.258553,161.318217,201.560715,224.090394,169.999229,197.243005,167.204291,181.073652,...,162.297752,159.655833,175.552848,133.955240,206.273749,178.683373,155.515330,185.513735,108.983841,150.491380
3,166.569436,193.391365,123.258553,161.318217,201.560715,224.090394,169.999229,197.243005,167.204291,181.073652,...,162.297752,159.655833,175.552848,133.955240,206.273749,178.683373,155.515330,185.513735,108.983841,150.491380
4,166.569436,193.391365,123.258553,161.318217,201.560715,224.090394,169.999229,197.243005,167.204291,181.073652,...,162.297752,159.655833,175.552848,133.955240,206.273749,178.683373,155.515330,185.513735,108.983841,150.491380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,188.750290,173.224806,137.433375,108.995220,232.178607,219.353269,197.074930,179.281776,180.859839,170.485634,...,166.265764,177.816712,174.007691,111.430212,222.595107,181.090570,188.305669,172.070544,138.297382,107.552498
2439,188.750290,173.224806,137.433375,108.995220,232.178607,219.353269,197.074930,179.281776,180.859839,170.485634,...,166.265764,177.816712,174.007691,111.430212,222.595107,181.090570,188.305669,172.070544,138.297382,107.552498
2440,188.750290,173.224806,137.433375,108.995220,232.178607,219.353269,197.074930,179.281776,180.859839,170.485634,...,166.265764,177.816712,174.007691,111.430212,222.595107,181.090570,188.305669,172.070544,138.297382,107.552498
2441,188.750290,173.224806,137.433375,108.995220,232.178607,219.353269,197.074930,179.281776,180.859839,170.485634,...,166.265764,177.816712,174.007691,111.430212,222.595107,181.090570,188.305669,172.070544,138.297382,107.552498
2442,188.750290,173.224806,137.433375,108.995220,232.178607,219.353269,197.074930,179.281776,180.859839,170.485634,...,166.265764,177.816712,174.007691,111.430212,222.595107,181.090570,188.305669,172.070544,138.297382,107.552498

### Converting to Pandas Dataframe

In [9]:
sensors_data = pd.DataFrame(sensors_data)

### Position Data -- Labeling Columns

In [10]:
position_data.columns = ['Pos X', 'Pos Y', 'Pos Z']

In [11]:
position_data

          Pos X      Pos Y   Pos Z
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

### Converting to Pandas Dataframe

In [12]:
position_data = pd.DataFrame(position_data)

# Importing Libraries

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

import time
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Converting Numpy Arrays to Pandas DataFrames for Sensor and Position Data

In [14]:
X = sensors_data
y = position_data

# convert numpy array into pandas dataframe
X = pd.DataFrame(X)
y = pd.DataFrame(y)

# Define models

In [15]:
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

# Define k-fold cross-validation

In [16]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# Create empty dictionary to store the results

In [17]:
results_dict = {
    "Model": [],
    "Fold": [],
    "Mean Squared Error (MSE)": [],
    "Mean Absolute Error (MAE)": [],
    "Root Mean Squared Error (RMSE)": [],
    "Time taken": []
}

# Train and evaluate each model using k-fold cross-validation

In [18]:
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        
        # Add the results to the dictionary
        results_dict["Model"].append(type(model).__name__)
        results_dict["Fold"].append(i+1)
        results_dict["Mean Squared Error (MSE)"].append(mse)
        results_dict["Mean Absolute Error (MAE)"].append(mae)
        results_dict["Root Mean Squared Error (RMSE)"].append(rmse)
        results_dict["Time taken"].append(time_taken)
        
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Add the mean results to the dictionary
    results_dict["Model"].append(type(model).__name__)
    results_dict["Fold"].append("Mean")
    results_dict["Mean Squared Error (MSE)"].append(mean_mse)
    results_dict["Mean Absolute Error (MAE)"].append(mean_mae)
    results_dict["Root Mean Squared Error (RMSE)"].append(mean_rmse)
    results_dict["Time taken"].append(mean_time)

    print(f"Model: {type(model).__name__}")
    print(f"Mean - Mean Squared Error (MSE): {mean_mse:.2f}")
    print(f"Mean - Mean Absolute Error (MAE): {mean_mae:.2f}")
    print(f"Mean - Root Mean Squared Error (RMSE): {mean_rmse:.2f}")
    print(f"Mean - Time taken: {mean_time:.2f} seconds")

    
#Convert the results dictionary into a pandas dataframe
results_df = pd.DataFrame.from_dict(results_dict)

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 0.78
Fold 1 - Mean Absolute Error (MAE): 0.67
Fold 1 - Root Mean Squared Error (RMSE): 0.88
Fold 1 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 0.90
Fold 2 - Mean Absolute Error (MAE): 0.71
Fold 2 - Root Mean Squared Error (RMSE): 0.95
Fold 2 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 0.84
Fold 3 - Mean Absolute Error (MAE): 0.67
Fold 3 - Root Mean Squared Error (RMSE): 0.92
Fold 3 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 0.92
Fold 4 - Mean Absolute Error (MAE): 0.69
Fold 4 - Root Mean Squared Error (RMSE): 0.96
Fold 4 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 0.85
Fold 5 - Mean Absolute Error (MAE): 0.67
Fold 5 - Root Mean Squared Error (RMSE): 0.92
Fold 5 - Time taken: 0.01 seconds
Model: LinearRegression
Mean - Mean Squared Error (MSE): 0.86
Mean - Mean Absolute Error (MAE): 0.68
Mean - Root Mean Squared Error (RMSE): 0.93
Mean - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 2.13
Fold 1 - Mean Absolute Error (MAE): 0.57
Fold 1 - Root Mean Squared Error (RMSE): 1.46
Fold 1 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 1.26
Fold 2 - Mean Absolute Error (MAE): 0.59
Fold 2 - Root Mean Squared Error (RMSE): 1.12
Fold 2 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 4.74
Fold 3 - Mean Absolute Error (MAE): 0.69
Fold 3 - Root Mean Squared Error (RMSE): 2.18
Fold 3 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 5.32
Fold 4 - Mean Absolute Error (MAE): 0.71
Fold 4 - Root Mean Squared Error (RMSE): 2.31
Fold 4 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 1.61
Fold 5 - Mean Absolute Error (MAE): 0.62
Fold 5 - Root Mean Squared Error (RMSE): 1.27
Fold 5 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Mean - Mean Squared Error (MSE): 3.01
Mean - Mean Absolute Error (MAE): 0.63
Mean - Root Mean Squared Error (RMSE): 1.67
Mean - Time taken: 0.04 seconds
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 0.56
Fold 1 - Mean Absolute Error (MAE): 0.27
Fold 1 - Root Mean Squared Error (RMSE): 0.75
Fold 1 - Time taken: 2.30 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 0.16
Fold 2 - Mean Absolute Error (MAE): 0.22
Fold 2 - Root Mean Squared Error (RMSE): 0.40
Fold 2 - Time taken: 2.30 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 0.43
Fold 3 - Mean Absolute Error (MAE): 0.30
Fold 3 - Root Mean Squared Error (RMSE): 0.66
Fold 3 - Time taken: 3.32 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 0.59
Fold 4 - Mean Absolute Error (MAE): 0.26
Fold 4 - Root Mean Squared Error (RMSE): 0.77
Fold 4 - Time taken: 3.56 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 0.17
Fold 5 - Mean Absolute Error (MAE): 0.23
Fold 5 - Root Mean Squared Error (RMSE): 0.42
Fold 5 - Time taken: 3.58 seconds
Model: RandomForestRegressor
Mean - Mean Squared Error (MSE): 0.38
Mean - Mean Absolute Error (MAE): 0.26
Mean - Root Mean Squared Error (RMSE): 0.60
Mean - Time taken: 3.01 seconds
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 0.11
Fold 1 - Mean Absolute Error (MAE): 0.21
Fold 1 - Root Mean Squared Error (RMSE): 0.33
Fold 1 - Time taken: 0.08 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 0.14
Fold 2 - Mean Absolute Error (MAE): 0.21
Fold 2 - Root Mean Squared Error (RMSE): 0.37
Fold 2 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 0.19
Fold 3 - Mean Absolute Error (MAE): 0.23
Fold 3 - Root Mean Squared Error (RMSE): 0.43
Fold 3 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 0.12
Fold 4 - Mean Absolute Error (MAE): 0.20
Fold 4 - Root Mean Squared Error (RMSE): 0.35
Fold 4 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 0.14
Fold 5 - Mean Absolute Error (MAE): 0.22
Fold 5 - Root Mean Squared Error (RMSE): 0.38
Fold 5 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Mean - Mean Squared Error (MSE): 0.14
Mean - Mean Absolute Error (MAE): 0.21
Mean - Root Mean Squared Error (RMSE): 0.37
Mean - Time taken: 0.03 seconds
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 0.95
Fold 1 - Mean Absolute Error (MAE): 0.60
Fold 1 - Root Mean Squared Error (RMSE): 0.97
Fold 1 - Time taken: 2.27 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 2.34
Fold 2 - Mean Absolute Error (MAE): 0.67
Fold 2 - Root Mean Squared Error (RMSE): 1.53
Fold 2 - Time taken: 2.26 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 1.16
Fold 3 - Mean Absolute Error (MAE): 0.62
Fold 3 - Root Mean Squared Error (RMSE): 1.08
Fold 3 - Time taken: 2.74 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 1.31
Fold 4 - Mean Absolute Error (MAE): 0.61
Fold 4 - Root Mean Squared Error (RMSE): 1.15
Fold 4 - Time taken: 3.32 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 1.65
Fold 5 - Mean Absolute Error (MAE): 0.65
Fold 5 - Root Mean Squared Error (RMSE): 1.29
Fold 5 - Time taken: 3.31 seconds
Model: XGBRegressor
Mean - Mean Squared Error (MSE): 1.48
Mean - Mean Absolute Error (MAE): 0.63
Mean - Root Mean Squared Error (RMSE): 1.20
Mean - Time taken: 2.78 seconds

# Saving the results to an Excel file

In [19]:
results_df.to_excel("Results__PL_smoothed_48_frontback_400_Reg4.xlsx", index=False)

#Print a message indicating that the results have been saved to a file
print("Results saved to Results__PL_smoothed_48_frontback_400_Reg4.xlsx file")

Results saved to Results__PL_smoothed_48_frontback_400_Reg4.xlsx file