# Importing Libraries for Data Engineering

In [1]:
import numpy as np
import pandas as pd

# Loading Dataset

In [2]:
sensors_data = pd.read_excel('Smoothed path loss of 48 sensors for 2443 positions.xlsx', header=None)

In [3]:
sensors_data

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,103.365475,131.254765,82.406446,118.490072,124.741424,148.572789,110.782852,137.480311,101.466941,123.421399,...,107.203207,119.753930,99.374723,130.509610,74.261665,114.452393,109.175534,135.113346,90.649533,122.847967
1,103.365475,131.254765,82.406446,118.490072,124.741424,148.572789,110.782852,137.480311,101.466941,123.421399,...,107.203207,119.753930,99.374723,130.509610,74.261665,114.452393,109.175534,135.113346,90.649533,122.847967
2,103.365475,131.254765,82.406446,118.490072,124.741424,148.572789,110.782852,137.480311,101.466941,123.421399,...,107.203207,119.753930,99.374723,130.509610,74.261665,114.452393,109.175534,135.113346,90.649533,122.847967
3,103.365475,131.254765,82.406446,118.490072,124.741424,148.572789,110.782852,137.480311,101.466941,123.421399,...,107.203207,119.753930,99.374723,130.509610,74.261665,114.452393,109.175534,135.113346,90.649533,122.847967
4,103.365475,131.254765,82.406446,118.490072,124.741424,148.572789,110.782852,137.480311,101.466941,123.421399,...,107.203207,119.753930,99.374723,130.509610,74.261665,114.452393,109.175534,135.113346,90.649533,122.847967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,130.845198,115.244199,106.851047,78.347576,153.056587,140.522035,133.823333,116.302351,121.182268,110.310482,...,119.411902,110.280775,131.083235,112.046128,103.479049,74.943352,138.581705,124.544305,114.741035,94.729096
2439,130.845198,115.244199,106.851047,78.347576,153.056587,140.522035,133.823333,116.302351,121.182268,110.310482,...,119.411902,110.280775,131.083235,112.046128,103.479049,74.943352,138.581705,124.544305,114.741035,94.729096
2440,130.845198,115.244199,106.851047,78.347576,153.056587,140.522035,133.823333,116.302351,121.182268,110.310482,...,119.411902,110.280775,131.083235,112.046128,103.479049,74.943352,138.581705,124.544305,114.741035,94.729096
2441,130.845198,115.244199,106.851047,78.347576,153.056587,140.522035,133.823333,116.302351,121.182268,110.310482,...,119.411902,110.280775,131.083235,112.046128,103.479049,74.943352,138.581705,124.544305,114.741035,94.729096
2442,130.845198,115.244199,106.851047,78.347576,153.056587,140.522035,133.823333,116.302351,121.182268,110.310482,...,119.411902,110.280775,131.083235,112.046128,103.479049,74.943352,138.581705,124.544305,114.741035,94.729096

In [4]:
position_data = pd.read_excel('real x-y-z positions of 2443 locations.xlsx', header=None)

In [5]:
position_data

              0          1      2
0    -45.581275  30.239368 -60.00
1    -45.188830  30.181623 -59.96
2    -44.791865  30.131806 -59.92
3    -44.390422  30.089935 -59.88
4    -43.984540  30.056029 -59.84
...         ...        ...    ...
2438 -59.939858  51.788725  37.52
2439 -59.963718  51.389997  37.56
2440 -59.981583  50.990713  37.60
2441 -59.993448  50.591032  37.64
2442 -59.999315  50.191116  37.68

[2443 rows x 3 columns]

# Data Engineering

### Sensors Data -- Labeling Columns

In [6]:
Sensors_Number_of_Columns = sensors_data.shape[1]

In [7]:
Sensors_columns = ["sensor" + str(x) for x in range(1,Sensors_Number_of_Columns + 1)]
sensors_data.columns = (Sensors_columns)

In [8]:
sensors_data

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,...,sensor39,sensor40,sensor41,sensor42,sensor43,sensor44,sensor45,sensor46,sensor47,sensor48
0,103.365475,131.254765,82.406446,118.490072,124.741424,148.572789,110.782852,137.480311,101.466941,123.421399,...,107.203207,119.753930,99.374723,130.509610,74.261665,114.452393,109.175534,135.113346,90.649533,122.847967
1,103.365475,131.254765,82.406446,118.490072,124.741424,148.572789,110.782852,137.480311,101.466941,123.421399,...,107.203207,119.753930,99.374723,130.509610,74.261665,114.452393,109.175534,135.113346,90.649533,122.847967
2,103.365475,131.254765,82.406446,118.490072,124.741424,148.572789,110.782852,137.480311,101.466941,123.421399,...,107.203207,119.753930,99.374723,130.509610,74.261665,114.452393,109.175534,135.113346,90.649533,122.847967
3,103.365475,131.254765,82.406446,118.490072,124.741424,148.572789,110.782852,137.480311,101.466941,123.421399,...,107.203207,119.753930,99.374723,130.509610,74.261665,114.452393,109.175534,135.113346,90.649533,122.847967
4,103.365475,131.254765,82.406446,118.490072,124.741424,148.572789,110.782852,137.480311,101.466941,123.421399,...,107.203207,119.753930,99.374723,130.509610,74.261665,114.452393,109.175534,135.113346,90.649533,122.847967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,130.845198,115.244199,106.851047,78.347576,153.056587,140.522035,133.823333,116.302351,121.182268,110.310482,...,119.411902,110.280775,131.083235,112.046128,103.479049,74.943352,138.581705,124.544305,114.741035,94.729096
2439,130.845198,115.244199,106.851047,78.347576,153.056587,140.522035,133.823333,116.302351,121.182268,110.310482,...,119.411902,110.280775,131.083235,112.046128,103.479049,74.943352,138.581705,124.544305,114.741035,94.729096
2440,130.845198,115.244199,106.851047,78.347576,153.056587,140.522035,133.823333,116.302351,121.182268,110.310482,...,119.411902,110.280775,131.083235,112.046128,103.479049,74.943352,138.581705,124.544305,114.741035,94.729096
2441,130.845198,115.244199,106.851047,78.347576,153.056587,140.522035,133.823333,116.302351,121.182268,110.310482,...,119.411902,110.280775,131.083235,112.046128,103.479049,74.943352,138.581705,124.544305,114.741035,94.729096
2442,130.845198,115.244199,106.851047,78.347576,153.056587,140.522035,133.823333,116.302351,121.182268,110.310482,...,119.411902,110.280775,131.083235,112.046128,103.479049,74.943352,138.581705,124.544305,114.741035,94.729096

### Converting to Pandas Dataframe

In [9]:
sensors_data = pd.DataFrame(sensors_data)

### Position Data -- Labeling Columns

In [10]:
position_data.columns = ['Pos X', 'Pos Y', 'Pos Z']

In [11]:
position_data

          Pos X      Pos Y  Pos Z
0    -45.581275  30.239368 -60.00
1    -45.188830  30.181623 -59.96
2    -44.791865  30.131806 -59.92
3    -44.390422  30.089935 -59.88
4    -43.984540  30.056029 -59.84
...         ...        ...    ...
2438 -59.939858  51.788725  37.52
2439 -59.963718  51.389997  37.56
2440 -59.981583  50.990713  37.60
2441 -59.993448  50.591032  37.64
2442 -59.999315  50.191116  37.68

[2443 rows x 3 columns]

### Converting to Pandas Dataframe

In [12]:
position_data = pd.DataFrame(position_data)

# Taking Sensor 01 - Sensor 4

In [13]:
sensors_data = pd.concat([sensors_data.iloc[:,:4], position_data], axis=1)
sensors_data

,sensor1,sensor2,sensor3,sensor4,Pos X,Pos Y,Pos Z
0,103.365475,131.254765,82.406446,118.490072,-45.581275,30.239368,-60.00
1,103.365475,131.254765,82.406446,118.490072,-45.188830,30.181623,-59.96
2,103.365475,131.254765,82.406446,118.490072,-44.791865,30.131806,-59.92
3,103.365475,131.254765,82.406446,118.490072,-44.390422,30.089935,-59.88
4,103.365475,131.254765,82.406446,118.490072,-43.984540,30.056029,-59.84
...,...,...,...,...,...,...,...
2438,130.845198,115.244199,106.851047,78.347576,-59.939858,51.788725,37.52
2439,130.845198,115.244199,106.851047,78.347576,-59.963718,51.389997,37.56
2440,130.845198,115.244199,106.851047,78.347576,-59.981583,50.990713,37.60
2441,130.845198,115.244199,106.851047,78.347576,-59.993448,50.591032,37.64
2442,130.845198,115.244199,106.851047,78.347576,-59.999315,50.191116,37.68

# Split the data into training and testing sets

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(sensors_data, position_data, test_size=0.2, random_state=42)

In [15]:
X_train

,sensor1,sensor2,sensor3,sensor4,Pos X,Pos Y,Pos Z
233,137.881517,153.165243,115.871574,137.406585,59.678117,54.115562,-50.68
433,121.592208,139.058026,86.335605,112.792428,-19.191177,62.122007,-42.68
1430,145.771325,144.778557,117.656261,118.072187,45.890531,69.708995,-2.80
307,127.945292,147.421209,113.727319,135.577414,48.255475,30.881811,-47.72
2197,140.479449,130.043474,130.979969,115.610718,46.396180,30.387490,27.88
...,...,...,...,...,...,...,...
1638,131.484235,128.208485,110.374820,108.586940,11.378450,42.552019,5.52
1095,127.067786,131.636548,87.134422,99.243018,-36.900143,69.397796,-16.20
1130,123.972924,130.783089,84.240653,97.925160,-50.886002,67.974162,-14.80
1294,117.190655,120.592002,96.872234,101.981039,-28.195387,33.407817,-8.24
860,139.956869,150.417225,118.141071,130.418639,59.591095,54.630197,-25.60

In [16]:
y_train

          Pos X      Pos Y  Pos Z
233   59.678117  54.115562 -50.68
433  -19.191177  62.122007 -42.68
1430  45.890531  69.708995  -2.80
307   48.255475  30.881811 -47.72
2197  46.396180  30.387490  27.88
...         ...        ...    ...
1638  11.378450  42.552019   5.52
1095 -36.900143  69.397796 -16.20
1130 -50.886002  67.974162 -14.80
1294 -28.195387  33.407817  -8.24
860   59.591095  54.630197 -25.60

[1954 rows x 3 columns]

# Machine Learning

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor
from sklearn.ensemble import GradientBoostingRegressor

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, median_absolute_error
from sklearn.metrics import explained_variance_score, max_error, mean_squared_log_error

In [18]:
# Initialize the models
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(),  XGBRegressor()]

In [19]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, median_absolute_error, explained_variance_score
import time

# Train and evaluate each model
for model in models:
    start_time = time.time()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    end_time = time.time()
    
    rmse = mean_squared_error(y_test, y_pred, squared=False)
    
    print(type(model).__name__)
    print("Accuracy:", model.score(X_test, y_test))
    print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
    print("Root Mean Squared Error:", rmse)
    print("R2 Score:", r2_score(y_test, y_pred))
    print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
    print("Median Absolute Error:", median_absolute_error(y_test, y_pred))
    print("Explained Variance Score:", explained_variance_score(y_test, y_pred))
    print("Time taken:", end_time - start_time)
    print("="*100)

LinearRegression
Accuracy: 1.0
Mean Squared Error: 4.560092369988719e-28
Root Mean Squared Error: 1.9292963835485663e-14
R2 Score: 1.0
Mean Absolute Error: 1.6718198248938677e-14
Median Absolute Error: 1.7763568394002505e-14
Explained Variance Score: 1.0
Time taken: 0.004000663757324219
====================================================================================================
DecisionTreeRegressor
Accuracy: 0.999490322660149
Mean Squared Error: 0.24209554076942963
Root Mean Squared Error: 0.4204505203912683
R2 Score: 0.999490322660149
Mean Absolute Error: 0.31727142068938186
Median Absolute Error: 0.2768655204931039
Explained Variance Score: 0.9994903722375285
Time taken: 0.010500907897949219
====================================================================================================
RandomForestRegressor
Accuracy: 0.9998334182433739
Mean Squared Error: 0.08794734927157981
Root Mean Squared Error: 0.2950550129444749
R2 Score: 0.9998334182433739
Mean Absolute Error: 0.15757941662693856
Median Absolute Error: 0.09048151987179172
Explained Variance Score: 0.9998334652009934
Time taken: 0.6060302257537842
====================================================================================================
KNeighborsRegressor
Accuracy: 0.9998983972864948
Mean Squared Error: 0.04985331450089467
Root Mean Squared Error: 0.19027621571330264
R2 Score: 0.9998983972864948
Mean Absolute Error: 0.14592273464255978
Median Absolute Error: 0.1271499103618249
Explained Variance Score: 0.9998984902511978
Time taken: 0.003000020980834961
====================================================================================================
XGBRegressor
Accuracy: 0.9999655100731655
Mean Squared Error: 0.027886570081865392
Root Mean Squared Error: 0.1581097090961861
R2 Score: 0.9999655100731655
Mean Absolute Error: 0.10690751687681704
Median Absolute Error: 0.07008995335623602
Explained Variance Score: 0.9999657257093398
Time taken: 0.23000812530517578
====================================================================================================

# Cross Validation

In [20]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score, mean_absolute_error
import time


X = sensors_data
y = position_data

#Define models
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

#Define k-fold cross-validation
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

#Train and evaluate each model using k-fold cross-validation
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Print the mean results of the folds
    print(f"Mean MSE: {mean_mse:.2f}")
    print(f"Mean MAE: {mean_mae:.2f}")
    print(f"Mean RMSE: {mean_rmse:.2f}")
    print(f"Mean time: {mean_time:.2f} seconds")
    print("-" * 50)

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 0.00
Fold 1 - Mean Absolute Error (MAE): 0.00
Fold 1 - Root Mean Squared Error (RMSE): 0.00
Fold 1 - Time taken: 0.00 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 0.00
Fold 2 - Mean Absolute Error (MAE): 0.00
Fold 2 - Root Mean Squared Error (RMSE): 0.00
Fold 2 - Time taken: 0.00 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 0.00
Fold 3 - Mean Absolute Error (MAE): 0.00
Fold 3 - Root Mean Squared Error (RMSE): 0.00
Fold 3 - Time taken: 0.00 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 0.00
Fold 4 - Mean Absolute Error (MAE): 0.00
Fold 4 - Root Mean Squared Error (RMSE): 0.00
Fold 4 - Time taken: 0.00 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 0.00
Fold 5 - Mean Absolute Error (MAE): 0.00
Fold 5 - Root Mean Squared Error (RMSE): 0.00
Fold 5 - Time taken: 0.00 seconds
Mean MSE: 0.00
Mean MAE: 0.00
Mean RMSE: 0.00
Mean time: 0.00 seconds
--------------------------------------------------
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 0.77
Fold 1 - Mean Absolute Error (MAE): 0.34
Fold 1 - Root Mean Squared Error (RMSE): 0.88
Fold 1 - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 0.24
Fold 2 - Mean Absolute Error (MAE): 0.31
Fold 2 - Root Mean Squared Error (RMSE): 0.49
Fold 2 - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 0.28
Fold 3 - Mean Absolute Error (MAE): 0.34
Fold 3 - Root Mean Squared Error (RMSE): 0.53
Fold 3 - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 0.25
Fold 4 - Mean Absolute Error (MAE): 0.32
Fold 4 - Root Mean Squared Error (RMSE): 0.50
Fold 4 - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 0.74
Fold 5 - Mean Absolute Error (MAE): 0.37
Fold 5 - Root Mean Squared Error (RMSE): 0.86
Fold 5 - Time taken: 0.01 seconds
Mean MSE: 0.46
Mean MAE: 0.34
Mean RMSE: 0.65
Mean time: 0.01 seconds
--------------------------------------------------
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 0.09
Fold 1 - Mean Absolute Error (MAE): 0.16
Fold 1 - Root Mean Squared Error (RMSE): 0.30
Fold 1 - Time taken: 0.44 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 0.09
Fold 2 - Mean Absolute Error (MAE): 0.15
Fold 2 - Root Mean Squared Error (RMSE): 0.30
Fold 2 - Time taken: 0.44 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 0.11
Fold 3 - Mean Absolute Error (MAE): 0.18
Fold 3 - Root Mean Squared Error (RMSE): 0.34
Fold 3 - Time taken: 0.44 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 0.07
Fold 4 - Mean Absolute Error (MAE): 0.16
Fold 4 - Root Mean Squared Error (RMSE): 0.27
Fold 4 - Time taken: 0.46 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 0.14
Fold 5 - Mean Absolute Error (MAE): 0.18
Fold 5 - Root Mean Squared Error (RMSE): 0.37
Fold 5 - Time taken: 0.45 seconds
Mean MSE: 0.10
Mean MAE: 0.17
Mean RMSE: 0.31
Mean time: 0.44 seconds
--------------------------------------------------
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 0.05
Fold 1 - Mean Absolute Error (MAE): 0.15
Fold 1 - Root Mean Squared Error (RMSE): 0.22
Fold 1 - Time taken: 0.00 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 0.06
Fold 2 - Mean Absolute Error (MAE): 0.15
Fold 2 - Root Mean Squared Error (RMSE): 0.24
Fold 2 - Time taken: 0.00 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 0.06
Fold 3 - Mean Absolute Error (MAE): 0.15
Fold 3 - Root Mean Squared Error (RMSE): 0.24
Fold 3 - Time taken: 0.00 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 0.06
Fold 4 - Mean Absolute Error (MAE): 0.15
Fold 4 - Root Mean Squared Error (RMSE): 0.24
Fold 4 - Time taken: 0.00 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 0.05
Fold 5 - Mean Absolute Error (MAE): 0.15
Fold 5 - Root Mean Squared Error (RMSE): 0.23
Fold 5 - Time taken: 0.00 seconds
Mean MSE: 0.06
Mean MAE: 0.15
Mean RMSE: 0.24
Mean time: 0.00 seconds
--------------------------------------------------
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 0.03
Fold 1 - Mean Absolute Error (MAE): 0.11
Fold 1 - Root Mean Squared Error (RMSE): 0.17
Fold 1 - Time taken: 0.23 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 0.03
Fold 2 - Mean Absolute Error (MAE): 0.11
Fold 2 - Root Mean Squared Error (RMSE): 0.18
Fold 2 - Time taken: 0.23 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 0.03
Fold 3 - Mean Absolute Error (MAE): 0.11
Fold 3 - Root Mean Squared Error (RMSE): 0.18
Fold 3 - Time taken: 0.21 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 0.03
Fold 4 - Mean Absolute Error (MAE): 0.11
Fold 4 - Root Mean Squared Error (RMSE): 0.18
Fold 4 - Time taken: 0.24 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 0.03
Fold 5 - Mean Absolute Error (MAE): 0.10
Fold 5 - Root Mean Squared Error (RMSE): 0.16
Fold 5 - Time taken: 0.26 seconds
Mean MSE: 0.03
Mean MAE: 0.11
Mean RMSE: 0.18
Mean time: 0.23 seconds
--------------------------------------------------

# Excel File Conversion

In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score, mean_absolute_error
import time


X = sensors_data
y = position_data

# convert numpy array into pandas dataframe
X = pd.DataFrame(X)
y = pd.DataFrame(y)

# Define models
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

# Define k-fold cross-validation
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# Create empty dictionary to store the results
results_dict = {
    "Model": [],
    "Fold": [],
    "Mean Squared Error (MSE)": [],
    "Mean Absolute Error (MAE)": [],
    "Root Mean Squared Error (RMSE)": [],
    "Time taken": []
}

# Train and evaluate each model using k-fold cross-validation
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        
        # Add the results to the dictionary
        results_dict["Model"].append(type(model).__name__)
        results_dict["Fold"].append(i+1)
        results_dict["Mean Squared Error (MSE)"].append(mse)
        results_dict["Mean Absolute Error (MAE)"].append(mae)
        results_dict["Root Mean Squared Error (RMSE)"].append(rmse)
        results_dict["Time taken"].append(time_taken)
        
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Add the mean results to the dictionary
    results_dict["Model"].append(type(model).__name__)
    results_dict["Fold"].append("Mean")
    results_dict["Mean Squared Error (MSE)"].append(mean_mse)
    results_dict["Mean Absolute Error (MAE)"].append(mean_mae)
    results_dict["Root Mean Squared Error (RMSE)"].append(mean_rmse)
    results_dict["Time taken"].append(mean_time)

    print(f"Model: {type(model).__name__}")
    print(f"Mean - Mean Squared Error (MSE): {mean_mse:.2f}")
    print(f"Mean - Mean Absolute Error (MAE): {mean_mae:.2f}")
    print(f"Mean - Root Mean Squared Error (RMSE): {mean_rmse:.2f}")
    print(f"Mean - Time taken: {mean_time:.2f} seconds")

    
#Convert the results dictionary into a pandas dataframe
results_df = pd.DataFrame.from_dict(results_dict)

#Save the results to an Excel file
results_df.to_excel("Smoothed path loss - (1-4) results.xlsx", index=False)

#Print a message indicating that the results have been saved to a file
print("Results saved to results.xlsx file")

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 0.00
Fold 1 - Mean Absolute Error (MAE): 0.00
Fold 1 - Root Mean Squared Error (RMSE): 0.00
Fold 1 - Time taken: 0.00 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 0.00
Fold 2 - Mean Absolute Error (MAE): 0.00
Fold 2 - Root Mean Squared Error (RMSE): 0.00
Fold 2 - Time taken: 0.00 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 0.00
Fold 3 - Mean Absolute Error (MAE): 0.00
Fold 3 - Root Mean Squared Error (RMSE): 0.00
Fold 3 - Time taken: 0.00 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 0.00
Fold 4 - Mean Absolute Error (MAE): 0.00
Fold 4 - Root Mean Squared Error (RMSE): 0.00
Fold 4 - Time taken: 0.00 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 0.00
Fold 5 - Mean Absolute Error (MAE): 0.00
Fold 5 - Root Mean Squared Error (RMSE): 0.00
Fold 5 - Time taken: 0.00 seconds
Model: LinearRegression
Mean - Mean Squared Error (MSE): 0.00
Mean - Mean Absolute Error (MAE): 0.00
Mean - Root Mean Squared Error (RMSE): 0.00
Mean - Time taken: 0.00 seconds
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 0.25
Fold 1 - Mean Absolute Error (MAE): 0.32
Fold 1 - Root Mean Squared Error (RMSE): 0.50
Fold 1 - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 0.23
Fold 2 - Mean Absolute Error (MAE): 0.32
Fold 2 - Root Mean Squared Error (RMSE): 0.48
Fold 2 - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 0.39
Fold 3 - Mean Absolute Error (MAE): 0.35
Fold 3 - Root Mean Squared Error (RMSE): 0.63
Fold 3 - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 0.81
Fold 4 - Mean Absolute Error (MAE): 0.35
Fold 4 - Root Mean Squared Error (RMSE): 0.90
Fold 4 - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 1.49
Fold 5 - Mean Absolute Error (MAE): 0.42
Fold 5 - Root Mean Squared Error (RMSE): 1.22
Fold 5 - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Mean - Mean Squared Error (MSE): 0.64
Mean - Mean Absolute Error (MAE): 0.35
Mean - Root Mean Squared Error (RMSE): 0.75
Mean - Time taken: 0.01 seconds
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 0.08
Fold 1 - Mean Absolute Error (MAE): 0.16
Fold 1 - Root Mean Squared Error (RMSE): 0.28
Fold 1 - Time taken: 0.72 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 0.12
Fold 2 - Mean Absolute Error (MAE): 0.16
Fold 2 - Root Mean Squared Error (RMSE): 0.35
Fold 2 - Time taken: 0.77 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 0.09
Fold 3 - Mean Absolute Error (MAE): 0.17
Fold 3 - Root Mean Squared Error (RMSE): 0.30
Fold 3 - Time taken: 0.77 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 0.07
Fold 4 - Mean Absolute Error (MAE): 0.16
Fold 4 - Root Mean Squared Error (RMSE): 0.26
Fold 4 - Time taken: 0.77 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 0.19
Fold 5 - Mean Absolute Error (MAE): 0.19
Fold 5 - Root Mean Squared Error (RMSE): 0.43
Fold 5 - Time taken: 0.66 seconds
Model: RandomForestRegressor
Mean - Mean Squared Error (MSE): 0.11
Mean - Mean Absolute Error (MAE): 0.17
Mean - Root Mean Squared Error (RMSE): 0.32
Mean - Time taken: 0.74 seconds
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 0.05
Fold 1 - Mean Absolute Error (MAE): 0.15
Fold 1 - Root Mean Squared Error (RMSE): 0.22
Fold 1 - Time taken: 0.01 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 0.06
Fold 2 - Mean Absolute Error (MAE): 0.15
Fold 2 - Root Mean Squared Error (RMSE): 0.24
Fold 2 - Time taken: 0.01 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 0.06
Fold 3 - Mean Absolute Error (MAE): 0.15
Fold 3 - Root Mean Squared Error (RMSE): 0.24
Fold 3 - Time taken: 0.01 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 0.06
Fold 4 - Mean Absolute Error (MAE): 0.15
Fold 4 - Root Mean Squared Error (RMSE): 0.24
Fold 4 - Time taken: 0.01 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 0.05
Fold 5 - Mean Absolute Error (MAE): 0.15
Fold 5 - Root Mean Squared Error (RMSE): 0.23
Fold 5 - Time taken: 0.01 seconds
Model: KNeighborsRegressor
Mean - Mean Squared Error (MSE): 0.06
Mean - Mean Absolute Error (MAE): 0.15
Mean - Root Mean Squared Error (RMSE): 0.24
Mean - Time taken: 0.01 seconds
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 0.03
Fold 1 - Mean Absolute Error (MAE): 0.11
Fold 1 - Root Mean Squared Error (RMSE): 0.17
Fold 1 - Time taken: 0.56 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 0.03
Fold 2 - Mean Absolute Error (MAE): 0.11
Fold 2 - Root Mean Squared Error (RMSE): 0.18
Fold 2 - Time taken: 0.56 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 0.03
Fold 3 - Mean Absolute Error (MAE): 0.11
Fold 3 - Root Mean Squared Error (RMSE): 0.18
Fold 3 - Time taken: 0.55 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 0.03
Fold 4 - Mean Absolute Error (MAE): 0.11
Fold 4 - Root Mean Squared Error (RMSE): 0.18
Fold 4 - Time taken: 0.56 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 0.03
Fold 5 - Mean Absolute Error (MAE): 0.10
Fold 5 - Root Mean Squared Error (RMSE): 0.16
Fold 5 - Time taken: 0.55 seconds
Model: XGBRegressor
Mean - Mean Squared Error (MSE): 0.03
Mean - Mean Absolute Error (MAE): 0.11
Mean - Root Mean Squared Error (RMSE): 0.18
Mean - Time taken: 0.56 seconds
Results saved to results.xlsx file