# Importing Libraries for Data Engineering

In [1]:
import numpy as np
import pandas as pd

# Loading Dataset

In [2]:
sensors_data = pd.read_excel('PL_smoothed_48_frontback_600_Reg5.xlsx', header=None)

In [3]:
sensors_data

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,224.852515,247.098969,183.762041,208.303317,264.693025,280.830548,229.374957,250.344467,226.432929,237.659608,...,205.401873,201.513405,230.031148,191.436072,266.088832,234.650552,198.304556,222.598758,150.445681,177.585118
1,224.852515,247.098969,183.762041,208.303317,264.693025,280.830548,229.374957,250.344467,226.432929,237.659608,...,205.401873,201.513405,230.031148,191.436072,266.088832,234.650552,198.304556,222.598758,150.445681,177.585118
2,224.852515,247.098969,183.762041,208.303317,264.693025,280.830548,229.374957,250.344467,226.432929,237.659608,...,205.401873,201.513405,230.031148,191.436072,266.088832,234.650552,198.304556,222.598758,150.445681,177.585118
3,224.852515,247.098969,183.762041,208.303317,264.693025,280.830548,229.374957,250.344467,226.432929,237.659608,...,205.401873,201.513405,230.031148,191.436072,266.088832,234.650552,198.304556,222.598758,150.445681,177.585118
4,224.852515,247.098969,183.762041,208.303317,264.693025,280.830548,229.374957,250.344467,226.432929,237.659608,...,205.401873,201.513405,230.031148,191.436072,266.088832,234.650552,198.304556,222.598758,150.445681,177.585118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,239.831705,228.927890,186.706346,169.173431,290.831650,281.498876,247.553804,237.693845,233.191651,228.659810,...,209.703055,218.879560,230.856529,171.043351,281.590574,237.993225,227.274732,210.978419,165.986022,143.200436
2439,239.831705,228.927890,186.706346,169.173431,290.831650,281.498876,247.553804,237.693845,233.191651,228.659810,...,209.703055,218.879560,230.856529,171.043351,281.590574,237.993225,227.274732,210.978419,165.986022,143.200436
2440,239.831705,228.927890,186.706346,169.173431,290.831650,281.498876,247.553804,237.693845,233.191651,228.659810,...,209.703055,218.879560,230.856529,171.043351,281.590574,237.993225,227.274732,210.978419,165.986022,143.200436
2441,239.831705,228.927890,186.706346,169.173431,290.831650,281.498876,247.553804,237.693845,233.191651,228.659810,...,209.703055,218.879560,230.856529,171.043351,281.590574,237.993225,227.274732,210.978419,165.986022,143.200436
2442,239.831705,228.927890,186.706346,169.173431,290.831650,281.498876,247.553804,237.693845,233.191651,228.659810,...,209.703055,218.879560,230.856529,171.043351,281.590574,237.993225,227.274732,210.978419,165.986022,143.200436

In [4]:
position_data = pd.read_excel('Real positions_48_frontback_400_and_600_Reg4_Reg5.xlsx', header=None)

In [5]:
position_data

              0          1       2
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

# Data Engineering

### Sensors Data -- Labeling Columns

In [6]:
Sensors_Number_of_Columns = sensors_data.shape[1]

In [7]:
Sensors_columns = ["sensor" + str(x) for x in range(1,Sensors_Number_of_Columns + 1)]
sensors_data.columns = (Sensors_columns)

In [8]:
sensors_data

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,...,sensor39,sensor40,sensor41,sensor42,sensor43,sensor44,sensor45,sensor46,sensor47,sensor48
0,224.852515,247.098969,183.762041,208.303317,264.693025,280.830548,229.374957,250.344467,226.432929,237.659608,...,205.401873,201.513405,230.031148,191.436072,266.088832,234.650552,198.304556,222.598758,150.445681,177.585118
1,224.852515,247.098969,183.762041,208.303317,264.693025,280.830548,229.374957,250.344467,226.432929,237.659608,...,205.401873,201.513405,230.031148,191.436072,266.088832,234.650552,198.304556,222.598758,150.445681,177.585118
2,224.852515,247.098969,183.762041,208.303317,264.693025,280.830548,229.374957,250.344467,226.432929,237.659608,...,205.401873,201.513405,230.031148,191.436072,266.088832,234.650552,198.304556,222.598758,150.445681,177.585118
3,224.852515,247.098969,183.762041,208.303317,264.693025,280.830548,229.374957,250.344467,226.432929,237.659608,...,205.401873,201.513405,230.031148,191.436072,266.088832,234.650552,198.304556,222.598758,150.445681,177.585118
4,224.852515,247.098969,183.762041,208.303317,264.693025,280.830548,229.374957,250.344467,226.432929,237.659608,...,205.401873,201.513405,230.031148,191.436072,266.088832,234.650552,198.304556,222.598758,150.445681,177.585118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,239.831705,228.927890,186.706346,169.173431,290.831650,281.498876,247.553804,237.693845,233.191651,228.659810,...,209.703055,218.879560,230.856529,171.043351,281.590574,237.993225,227.274732,210.978419,165.986022,143.200436
2439,239.831705,228.927890,186.706346,169.173431,290.831650,281.498876,247.553804,237.693845,233.191651,228.659810,...,209.703055,218.879560,230.856529,171.043351,281.590574,237.993225,227.274732,210.978419,165.986022,143.200436
2440,239.831705,228.927890,186.706346,169.173431,290.831650,281.498876,247.553804,237.693845,233.191651,228.659810,...,209.703055,218.879560,230.856529,171.043351,281.590574,237.993225,227.274732,210.978419,165.986022,143.200436
2441,239.831705,228.927890,186.706346,169.173431,290.831650,281.498876,247.553804,237.693845,233.191651,228.659810,...,209.703055,218.879560,230.856529,171.043351,281.590574,237.993225,227.274732,210.978419,165.986022,143.200436
2442,239.831705,228.927890,186.706346,169.173431,290.831650,281.498876,247.553804,237.693845,233.191651,228.659810,...,209.703055,218.879560,230.856529,171.043351,281.590574,237.993225,227.274732,210.978419,165.986022,143.200436

### Converting to Pandas Dataframe

In [9]:
sensors_data = pd.DataFrame(sensors_data)

### Position Data -- Labeling Columns

In [10]:
position_data.columns = ['Pos X', 'Pos Y', 'Pos Z']

In [11]:
position_data

          Pos X      Pos Y   Pos Z
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

### Converting to Pandas Dataframe

In [12]:
position_data = pd.DataFrame(position_data)

# Importing Libraries

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

import time
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Converting Numpy Arrays to Pandas DataFrames for Sensor and Position Data

In [14]:
X = sensors_data
y = position_data

# convert numpy array into pandas dataframe
X = pd.DataFrame(X)
y = pd.DataFrame(y)

# Define models

In [15]:
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

# Define k-fold cross-validation

In [16]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# Create empty dictionary to store the results

In [17]:
results_dict = {
    "Model": [],
    "Fold": [],
    "Mean Squared Error (MSE)": [],
    "Mean Absolute Error (MAE)": [],
    "Root Mean Squared Error (RMSE)": [],
    "Time taken": []
}

# Train and evaluate each model using k-fold cross-validation

In [18]:
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        
        # Add the results to the dictionary
        results_dict["Model"].append(type(model).__name__)
        results_dict["Fold"].append(i+1)
        results_dict["Mean Squared Error (MSE)"].append(mse)
        results_dict["Mean Absolute Error (MAE)"].append(mae)
        results_dict["Root Mean Squared Error (RMSE)"].append(rmse)
        results_dict["Time taken"].append(time_taken)
        
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Add the mean results to the dictionary
    results_dict["Model"].append(type(model).__name__)
    results_dict["Fold"].append("Mean")
    results_dict["Mean Squared Error (MSE)"].append(mean_mse)
    results_dict["Mean Absolute Error (MAE)"].append(mean_mae)
    results_dict["Root Mean Squared Error (RMSE)"].append(mean_rmse)
    results_dict["Time taken"].append(mean_time)

    print(f"Model: {type(model).__name__}")
    print(f"Mean - Mean Squared Error (MSE): {mean_mse:.2f}")
    print(f"Mean - Mean Absolute Error (MAE): {mean_mae:.2f}")
    print(f"Mean - Root Mean Squared Error (RMSE): {mean_rmse:.2f}")
    print(f"Mean - Time taken: {mean_time:.2f} seconds")

    
#Convert the results dictionary into a pandas dataframe
results_df = pd.DataFrame.from_dict(results_dict)

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 1.09
Fold 1 - Mean Absolute Error (MAE): 0.72
Fold 1 - Root Mean Squared Error (RMSE): 1.04
Fold 1 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 1.07
Fold 2 - Mean Absolute Error (MAE): 0.70
Fold 2 - Root Mean Squared Error (RMSE): 1.04
Fold 2 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 1.06
Fold 3 - Mean Absolute Error (MAE): 0.71
Fold 3 - Root Mean Squared Error (RMSE): 1.03
Fold 3 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 1.09
Fold 4 - Mean Absolute Error (MAE): 0.71
Fold 4 - Root Mean Squared Error (RMSE): 1.04
Fold 4 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 0.99
Fold 5 - Mean Absolute Error (MAE): 0.69
Fold 5 - Root Mean Squared Error (RMSE): 0.99
Fold 5 - Time taken: 0.01 seconds
Model: LinearRegression
Mean - Mean Squared Error (MSE): 1.06
Mean - Mean Absolute Error (MAE): 0.71
Mean - Root Mean Squared Error (RMSE): 1.03
Mean - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 7.73
Fold 1 - Mean Absolute Error (MAE): 0.79
Fold 1 - Root Mean Squared Error (RMSE): 2.78
Fold 1 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 3.17
Fold 2 - Mean Absolute Error (MAE): 0.64
Fold 2 - Root Mean Squared Error (RMSE): 1.78
Fold 2 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 4.19
Fold 3 - Mean Absolute Error (MAE): 0.65
Fold 3 - Root Mean Squared Error (RMSE): 2.05
Fold 3 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 4.77
Fold 4 - Mean Absolute Error (MAE): 0.68
Fold 4 - Root Mean Squared Error (RMSE): 2.18
Fold 4 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 16.71
Fold 5 - Mean Absolute Error (MAE): 0.99
Fold 5 - Root Mean Squared Error (RMSE): 4.09
Fold 5 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Mean - Mean Squared Error (MSE): 7.31
Mean - Mean Absolute Error (MAE): 0.75
Mean - Root Mean Squared Error (RMSE): 2.58
Mean - Time taken: 0.04 seconds
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 1.71
Fold 1 - Mean Absolute Error (MAE): 0.33
Fold 1 - Root Mean Squared Error (RMSE): 1.31
Fold 1 - Time taken: 2.25 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 0.65
Fold 2 - Mean Absolute Error (MAE): 0.28
Fold 2 - Root Mean Squared Error (RMSE): 0.81
Fold 2 - Time taken: 2.25 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 0.55
Fold 3 - Mean Absolute Error (MAE): 0.29
Fold 3 - Root Mean Squared Error (RMSE): 0.74
Fold 3 - Time taken: 3.34 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 0.92
Fold 4 - Mean Absolute Error (MAE): 0.33
Fold 4 - Root Mean Squared Error (RMSE): 0.96
Fold 4 - Time taken: 3.56 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 2.22
Fold 5 - Mean Absolute Error (MAE): 0.42
Fold 5 - Root Mean Squared Error (RMSE): 1.49
Fold 5 - Time taken: 3.48 seconds
Model: RandomForestRegressor
Mean - Mean Squared Error (MSE): 1.21
Mean - Mean Absolute Error (MAE): 0.33
Mean - Root Mean Squared Error (RMSE): 1.06
Mean - Time taken: 2.98 seconds
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 0.10
Fold 1 - Mean Absolute Error (MAE): 0.20
Fold 1 - Root Mean Squared Error (RMSE): 0.31
Fold 1 - Time taken: 0.08 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 0.14
Fold 2 - Mean Absolute Error (MAE): 0.22
Fold 2 - Root Mean Squared Error (RMSE): 0.38
Fold 2 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 0.19
Fold 3 - Mean Absolute Error (MAE): 0.23
Fold 3 - Root Mean Squared Error (RMSE): 0.43
Fold 3 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 0.14
Fold 4 - Mean Absolute Error (MAE): 0.22
Fold 4 - Root Mean Squared Error (RMSE): 0.38
Fold 4 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 0.14
Fold 5 - Mean Absolute Error (MAE): 0.21
Fold 5 - Root Mean Squared Error (RMSE): 0.37
Fold 5 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Mean - Mean Squared Error (MSE): 0.14
Mean - Mean Absolute Error (MAE): 0.21
Mean - Root Mean Squared Error (RMSE): 0.38
Mean - Time taken: 0.03 seconds
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 1.93
Fold 1 - Mean Absolute Error (MAE): 0.64
Fold 1 - Root Mean Squared Error (RMSE): 1.39
Fold 1 - Time taken: 1.80 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 2.02
Fold 2 - Mean Absolute Error (MAE): 0.70
Fold 2 - Root Mean Squared Error (RMSE): 1.42
Fold 2 - Time taken: 1.80 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 1.97
Fold 3 - Mean Absolute Error (MAE): 0.70
Fold 3 - Root Mean Squared Error (RMSE): 1.40
Fold 3 - Time taken: 1.78 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 2.08
Fold 4 - Mean Absolute Error (MAE): 0.68
Fold 4 - Root Mean Squared Error (RMSE): 1.44
Fold 4 - Time taken: 1.78 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 1.48
Fold 5 - Mean Absolute Error (MAE): 0.65
Fold 5 - Root Mean Squared Error (RMSE): 1.22
Fold 5 - Time taken: 1.77 seconds
Model: XGBRegressor
Mean - Mean Squared Error (MSE): 1.89
Mean - Mean Absolute Error (MAE): 0.67
Mean - Root Mean Squared Error (RMSE): 1.37
Mean - Time taken: 1.79 seconds

# Saving the results to an Excel file

In [19]:
results_df.to_excel("Results__PL_smoothed_48_frontback_600_Reg5.xlsx", index=False)

#Print a message indicating that the results have been saved to a file
print("Results saved to Results__PL_smoothed_48_frontback_600_Reg5.xlsx file")

Results saved to Results__PL_smoothed_48_frontback_600_Reg5.xlsx file