# Importing Libraries for Data Engineering

In [1]:
import numpy as np
import pandas as pd

# Loading Dataset

In [2]:
sensors_data = pd.read_excel('PL_scattered_48_frontback_600_Reg5.xlsx', header=None)

In [3]:
sensors_data

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,224.035379,240.267923,186.902442,209.526326,266.183062,285.685836,235.187745,256.218846,222.434068,243.298275,...,205.068556,203.048837,232.920174,184.217946,267.819470,239.007632,197.222703,235.844788,150.253068,185.270971
1,227.272093,239.718201,171.609680,211.571557,265.047376,280.909848,235.974302,245.056154,226.487505,231.901578,...,198.141949,192.970125,226.951154,185.136088,275.487272,239.099667,199.500559,215.226464,157.169536,169.528387
2,216.652822,245.830284,177.030715,209.075819,268.576036,288.575972,232.619085,254.809208,231.694790,235.852063,...,202.762559,200.274043,234.931015,189.784520,259.579727,245.438012,193.740301,214.839521,151.523842,179.318476
3,218.843778,249.949256,189.050326,199.639070,262.387284,268.915407,226.342773,252.919387,229.656875,237.998758,...,211.969644,203.788510,229.860525,184.944775,264.025484,226.461080,206.558526,225.033709,148.115632,176.846783
4,226.184489,239.682661,181.273094,206.584422,266.064315,289.543578,236.959354,257.457748,221.587804,238.054533,...,199.816072,204.324493,234.077997,191.053065,265.683679,236.614443,202.897499,220.467049,152.889151,178.345587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,241.990310,230.487193,187.727970,165.790507,297.343608,279.637821,244.258594,237.967869,229.122939,234.705124,...,210.238586,223.808538,227.784094,176.008938,284.981201,237.528591,226.048690,214.342225,165.117683,147.509816
2439,232.958004,222.264466,185.540915,178.449950,285.846585,277.293343,246.273009,232.865693,230.715441,228.467398,...,208.449765,221.054001,229.993344,175.871749,279.651410,241.069625,228.547843,212.770292,169.301583,147.457242
2440,240.893968,226.122973,189.143970,162.157684,291.549872,274.006781,246.235919,241.728890,235.873635,224.995421,...,203.104664,223.726257,225.405251,164.913234,286.300748,241.622172,221.392916,204.372761,160.289975,140.769527
2441,233.807882,227.880226,187.465019,173.665486,287.809532,280.070692,251.342606,240.819683,223.100444,222.320373,...,214.907785,216.700073,232.731363,165.760715,287.939558,240.062833,228.871228,217.623958,174.993760,142.866496
2442,241.204657,234.542519,188.883507,170.584224,286.585994,275.037258,247.199030,241.669133,226.308436,232.741609,...,203.040513,217.622712,231.393399,172.091627,273.954739,235.994808,224.355064,214.414258,166.631678,149.357466

In [4]:
position_data = pd.read_excel('Real positions_48_frontback_400_and_600_Reg4_Reg5.xlsx', header=None)

In [5]:
position_data

              0          1       2
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

# Data Engineering

### Sensors Data -- Labeling Columns

In [6]:
Sensors_Number_of_Columns = sensors_data.shape[1]

In [7]:
Sensors_columns = ["sensor" + str(x) for x in range(1,Sensors_Number_of_Columns + 1)]
sensors_data.columns = (Sensors_columns)

In [8]:
sensors_data

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,...,sensor39,sensor40,sensor41,sensor42,sensor43,sensor44,sensor45,sensor46,sensor47,sensor48
0,224.035379,240.267923,186.902442,209.526326,266.183062,285.685836,235.187745,256.218846,222.434068,243.298275,...,205.068556,203.048837,232.920174,184.217946,267.819470,239.007632,197.222703,235.844788,150.253068,185.270971
1,227.272093,239.718201,171.609680,211.571557,265.047376,280.909848,235.974302,245.056154,226.487505,231.901578,...,198.141949,192.970125,226.951154,185.136088,275.487272,239.099667,199.500559,215.226464,157.169536,169.528387
2,216.652822,245.830284,177.030715,209.075819,268.576036,288.575972,232.619085,254.809208,231.694790,235.852063,...,202.762559,200.274043,234.931015,189.784520,259.579727,245.438012,193.740301,214.839521,151.523842,179.318476
3,218.843778,249.949256,189.050326,199.639070,262.387284,268.915407,226.342773,252.919387,229.656875,237.998758,...,211.969644,203.788510,229.860525,184.944775,264.025484,226.461080,206.558526,225.033709,148.115632,176.846783
4,226.184489,239.682661,181.273094,206.584422,266.064315,289.543578,236.959354,257.457748,221.587804,238.054533,...,199.816072,204.324493,234.077997,191.053065,265.683679,236.614443,202.897499,220.467049,152.889151,178.345587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,241.990310,230.487193,187.727970,165.790507,297.343608,279.637821,244.258594,237.967869,229.122939,234.705124,...,210.238586,223.808538,227.784094,176.008938,284.981201,237.528591,226.048690,214.342225,165.117683,147.509816
2439,232.958004,222.264466,185.540915,178.449950,285.846585,277.293343,246.273009,232.865693,230.715441,228.467398,...,208.449765,221.054001,229.993344,175.871749,279.651410,241.069625,228.547843,212.770292,169.301583,147.457242
2440,240.893968,226.122973,189.143970,162.157684,291.549872,274.006781,246.235919,241.728890,235.873635,224.995421,...,203.104664,223.726257,225.405251,164.913234,286.300748,241.622172,221.392916,204.372761,160.289975,140.769527
2441,233.807882,227.880226,187.465019,173.665486,287.809532,280.070692,251.342606,240.819683,223.100444,222.320373,...,214.907785,216.700073,232.731363,165.760715,287.939558,240.062833,228.871228,217.623958,174.993760,142.866496
2442,241.204657,234.542519,188.883507,170.584224,286.585994,275.037258,247.199030,241.669133,226.308436,232.741609,...,203.040513,217.622712,231.393399,172.091627,273.954739,235.994808,224.355064,214.414258,166.631678,149.357466

### Converting to Pandas Dataframe

In [9]:
sensors_data = pd.DataFrame(sensors_data)

### Position Data -- Labeling Columns

In [10]:
position_data.columns = ['Pos X', 'Pos Y', 'Pos Z']

In [11]:
position_data

          Pos X      Pos Y   Pos Z
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

### Converting to Pandas Dataframe

In [12]:
position_data = pd.DataFrame(position_data)

# Importing Libraries

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

import time
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Converting Numpy Arrays to Pandas DataFrames for Sensor and Position Data

In [14]:
X = sensors_data
y = position_data

# convert numpy array into pandas dataframe
X = pd.DataFrame(X)
y = pd.DataFrame(y)

# Define models

In [15]:
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

# Define k-fold cross-validation

In [16]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# Create empty dictionary to store the results

In [17]:
results_dict = {
    "Model": [],
    "Fold": [],
    "Mean Squared Error (MSE)": [],
    "Mean Absolute Error (MAE)": [],
    "Root Mean Squared Error (RMSE)": [],
    "Time taken": []
}

# Train and evaluate each model using k-fold cross-validation

In [18]:
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        
        # Add the results to the dictionary
        results_dict["Model"].append(type(model).__name__)
        results_dict["Fold"].append(i+1)
        results_dict["Mean Squared Error (MSE)"].append(mse)
        results_dict["Mean Absolute Error (MAE)"].append(mae)
        results_dict["Root Mean Squared Error (RMSE)"].append(rmse)
        results_dict["Time taken"].append(time_taken)
        
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Add the mean results to the dictionary
    results_dict["Model"].append(type(model).__name__)
    results_dict["Fold"].append("Mean")
    results_dict["Mean Squared Error (MSE)"].append(mean_mse)
    results_dict["Mean Absolute Error (MAE)"].append(mean_mae)
    results_dict["Root Mean Squared Error (RMSE)"].append(mean_rmse)
    results_dict["Time taken"].append(mean_time)

    print(f"Model: {type(model).__name__}")
    print(f"Mean - Mean Squared Error (MSE): {mean_mse:.2f}")
    print(f"Mean - Mean Absolute Error (MAE): {mean_mae:.2f}")
    print(f"Mean - Root Mean Squared Error (RMSE): {mean_rmse:.2f}")
    print(f"Mean - Time taken: {mean_time:.2f} seconds")

    
#Convert the results dictionary into a pandas dataframe
results_df = pd.DataFrame.from_dict(results_dict)

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 24.49
Fold 1 - Mean Absolute Error (MAE): 3.40
Fold 1 - Root Mean Squared Error (RMSE): 4.95
Fold 1 - Time taken: 0.02 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 21.90
Fold 2 - Mean Absolute Error (MAE): 3.27
Fold 2 - Root Mean Squared Error (RMSE): 4.68
Fold 2 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 23.65
Fold 3 - Mean Absolute Error (MAE): 3.37
Fold 3 - Root Mean Squared Error (RMSE): 4.86
Fold 3 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 22.88
Fold 4 - Mean Absolute Error (MAE): 3.30
Fold 4 - Root Mean Squared Error (RMSE): 4.78
Fold 4 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 23.43
Fold 5 - Mean Absolute Error (MAE): 3.32
Fold 5 - Root Mean Squared Error (RMSE): 4.84
Fold 5 - Time taken: 0.01 seconds
Model: LinearRegression
Mean - Mean Squared Error (MSE): 23.27
Mean - Mean Absolute Error (MAE): 3.33
Mean - Root Mean Squared Error (RMSE): 4.82
Mean - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 208.29
Fold 1 - Mean Absolute Error (MAE): 7.78
Fold 1 - Root Mean Squared Error (RMSE): 14.43
Fold 1 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 188.13
Fold 2 - Mean Absolute Error (MAE): 7.45
Fold 2 - Root Mean Squared Error (RMSE): 13.72
Fold 2 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 244.63
Fold 3 - Mean Absolute Error (MAE): 8.80
Fold 3 - Root Mean Squared Error (RMSE): 15.64
Fold 3 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 189.82
Fold 4 - Mean Absolute Error (MAE): 7.71
Fold 4 - Root Mean Squared Error (RMSE): 13.78
Fold 4 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 199.32
Fold 5 - Mean Absolute Error (MAE): 7.81
Fold 5 - Root Mean Squared Error (RMSE): 14.12
Fold 5 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Mean - Mean Squared Error (MSE): 206.04
Mean - Mean Absolute Error (MAE): 7.91
Mean - Root Mean Squared Error (RMSE): 14.34
Mean - Time taken: 0.05 seconds
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 48.43
Fold 1 - Mean Absolute Error (MAE): 4.64
Fold 1 - Root Mean Squared Error (RMSE): 6.96
Fold 1 - Time taken: 2.49 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 41.75
Fold 2 - Mean Absolute Error (MAE): 4.35
Fold 2 - Root Mean Squared Error (RMSE): 6.46
Fold 2 - Time taken: 2.48 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 49.37
Fold 3 - Mean Absolute Error (MAE): 4.68
Fold 3 - Root Mean Squared Error (RMSE): 7.03
Fold 3 - Time taken: 3.86 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 47.37
Fold 4 - Mean Absolute Error (MAE): 4.58
Fold 4 - Root Mean Squared Error (RMSE): 6.88
Fold 4 - Time taken: 3.81 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 43.63
Fold 5 - Mean Absolute Error (MAE): 4.51
Fold 5 - Root Mean Squared Error (RMSE): 6.61
Fold 5 - Time taken: 3.78 seconds
Model: RandomForestRegressor
Mean - Mean Squared Error (MSE): 46.11
Mean - Mean Absolute Error (MAE): 4.55
Mean - Root Mean Squared Error (RMSE): 6.79
Mean - Time taken: 3.28 seconds
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 13.66
Fold 1 - Mean Absolute Error (MAE): 2.03
Fold 1 - Root Mean Squared Error (RMSE): 3.70
Fold 1 - Time taken: 0.08 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 12.59
Fold 2 - Mean Absolute Error (MAE): 1.92
Fold 2 - Root Mean Squared Error (RMSE): 3.55
Fold 2 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 16.96
Fold 3 - Mean Absolute Error (MAE): 2.17
Fold 3 - Root Mean Squared Error (RMSE): 4.12
Fold 3 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 14.64
Fold 4 - Mean Absolute Error (MAE): 2.08
Fold 4 - Root Mean Squared Error (RMSE): 3.83
Fold 4 - Time taken: 0.03 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 16.43
Fold 5 - Mean Absolute Error (MAE): 2.22
Fold 5 - Root Mean Squared Error (RMSE): 4.05
Fold 5 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Mean - Mean Squared Error (MSE): 14.85
Mean - Mean Absolute Error (MAE): 2.08
Mean - Root Mean Squared Error (RMSE): 3.85
Mean - Time taken: 0.03 seconds
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 58.04
Fold 1 - Mean Absolute Error (MAE): 4.93
Fold 1 - Root Mean Squared Error (RMSE): 7.62
Fold 1 - Time taken: 1.97 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 50.66
Fold 2 - Mean Absolute Error (MAE): 4.56
Fold 2 - Root Mean Squared Error (RMSE): 7.12
Fold 2 - Time taken: 1.97 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 59.04
Fold 3 - Mean Absolute Error (MAE): 5.03
Fold 3 - Root Mean Squared Error (RMSE): 7.68
Fold 3 - Time taken: 1.98 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 61.33
Fold 4 - Mean Absolute Error (MAE): 4.90
Fold 4 - Root Mean Squared Error (RMSE): 7.83
Fold 4 - Time taken: 1.94 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 55.65
Fold 5 - Mean Absolute Error (MAE): 4.86
Fold 5 - Root Mean Squared Error (RMSE): 7.46
Fold 5 - Time taken: 1.94 seconds
Model: XGBRegressor
Mean - Mean Squared Error (MSE): 56.94
Mean - Mean Absolute Error (MAE): 4.86
Mean - Root Mean Squared Error (RMSE): 7.54
Mean - Time taken: 1.96 seconds

# Saving the results to an Excel file

In [19]:
results_df.to_excel("Results__PL_scattered_48_frontback_600_Reg5.xlsx", index=False)

#Print a message indicating that the results have been saved to a file
print("Results saved to Results__PL_scattered_48_frontback_600_Reg5.xlsx file")

Results saved to Results__PL_scattered_48_frontback_600_Reg5.xlsx file