# Importing Libraries for Data Engineering

In [1]:
import numpy as np
import pandas as pd

# Loading Dataset

In [2]:
sensors_data = pd.read_excel('PL_scattered_48_frontback_400_Reg4.xlsx', header=None)

In [3]:
sensors_data

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,160.113430,197.866971,119.292540,162.112037,196.151946,229.063455,165.547161,196.479011,169.673364,177.757669,...,164.714684,160.976852,174.318822,132.555128,198.874850,172.100342,158.905947,187.214818,109.486938,153.411809
1,169.229090,187.907332,124.178735,155.140758,208.253756,226.321365,178.900432,197.168065,163.770772,176.937292,...,163.309529,164.784508,168.078332,136.997657,213.846187,176.761184,157.606258,181.963166,105.453910,154.210539
2,168.813597,185.772068,118.315035,156.178606,205.181274,227.731822,167.387324,198.350900,170.768472,180.363755,...,152.670545,156.885861,176.914489,133.156803,212.328322,183.187417,156.890573,190.171455,109.000156,163.221967
3,161.044220,200.937118,120.628650,157.322717,205.539386,224.192792,177.894930,205.516911,166.335741,179.275749,...,166.007950,163.854016,172.078421,139.511195,209.212713,180.247866,160.164596,179.139514,114.748720,153.163268
4,163.096819,191.085561,117.982369,157.243424,205.168014,218.944483,170.482077,208.421747,172.440497,179.310590,...,161.046963,164.458664,172.799493,131.044076,203.368440,176.834290,155.890763,182.422573,110.720926,148.014828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,186.405713,176.035621,140.339612,102.135493,235.407286,228.699070,208.477131,186.649019,170.066982,170.235718,...,160.322600,174.145952,172.530028,108.388596,221.793453,195.122954,193.120815,173.738890,141.865963,108.137273
2439,184.305492,173.441587,135.618082,116.510976,236.080054,214.579537,196.922063,176.059012,183.038607,173.161677,...,155.178809,185.201009,178.404441,110.901597,222.023579,180.084305,192.325605,176.939081,150.958807,105.801492
2440,195.878025,171.614629,136.624255,120.627952,234.358594,216.770897,189.374790,180.011390,184.058254,173.540165,...,161.286239,173.422897,166.741307,109.215068,213.810872,183.496113,185.032144,165.930224,145.399026,118.181068
2441,192.136951,169.017234,141.267839,113.609665,221.153422,215.745614,200.432835,176.459971,181.515973,168.723990,...,164.444897,173.869063,173.126245,111.250235,219.909015,178.180961,187.143180,167.086156,137.913402,103.494847
2442,186.069541,170.137145,146.178120,105.371420,231.240277,215.411327,196.705634,178.470055,177.289414,168.603490,...,171.507786,183.435042,173.444397,118.299892,223.149907,182.556616,190.638823,168.938575,132.782917,110.991628

In [4]:
position_data = pd.read_excel('Real positions_48_frontback_400_and_600_Reg4_Reg5.xlsx', header=None)

In [5]:
position_data

              0          1       2
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

# Data Engineering

### Sensors Data -- Labeling Columns

In [6]:
Sensors_Number_of_Columns = sensors_data.shape[1]

In [7]:
Sensors_columns = ["sensor" + str(x) for x in range(1,Sensors_Number_of_Columns + 1)]
sensors_data.columns = (Sensors_columns)

In [8]:
sensors_data

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,...,sensor39,sensor40,sensor41,sensor42,sensor43,sensor44,sensor45,sensor46,sensor47,sensor48
0,160.113430,197.866971,119.292540,162.112037,196.151946,229.063455,165.547161,196.479011,169.673364,177.757669,...,164.714684,160.976852,174.318822,132.555128,198.874850,172.100342,158.905947,187.214818,109.486938,153.411809
1,169.229090,187.907332,124.178735,155.140758,208.253756,226.321365,178.900432,197.168065,163.770772,176.937292,...,163.309529,164.784508,168.078332,136.997657,213.846187,176.761184,157.606258,181.963166,105.453910,154.210539
2,168.813597,185.772068,118.315035,156.178606,205.181274,227.731822,167.387324,198.350900,170.768472,180.363755,...,152.670545,156.885861,176.914489,133.156803,212.328322,183.187417,156.890573,190.171455,109.000156,163.221967
3,161.044220,200.937118,120.628650,157.322717,205.539386,224.192792,177.894930,205.516911,166.335741,179.275749,...,166.007950,163.854016,172.078421,139.511195,209.212713,180.247866,160.164596,179.139514,114.748720,153.163268
4,163.096819,191.085561,117.982369,157.243424,205.168014,218.944483,170.482077,208.421747,172.440497,179.310590,...,161.046963,164.458664,172.799493,131.044076,203.368440,176.834290,155.890763,182.422573,110.720926,148.014828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,186.405713,176.035621,140.339612,102.135493,235.407286,228.699070,208.477131,186.649019,170.066982,170.235718,...,160.322600,174.145952,172.530028,108.388596,221.793453,195.122954,193.120815,173.738890,141.865963,108.137273
2439,184.305492,173.441587,135.618082,116.510976,236.080054,214.579537,196.922063,176.059012,183.038607,173.161677,...,155.178809,185.201009,178.404441,110.901597,222.023579,180.084305,192.325605,176.939081,150.958807,105.801492
2440,195.878025,171.614629,136.624255,120.627952,234.358594,216.770897,189.374790,180.011390,184.058254,173.540165,...,161.286239,173.422897,166.741307,109.215068,213.810872,183.496113,185.032144,165.930224,145.399026,118.181068
2441,192.136951,169.017234,141.267839,113.609665,221.153422,215.745614,200.432835,176.459971,181.515973,168.723990,...,164.444897,173.869063,173.126245,111.250235,219.909015,178.180961,187.143180,167.086156,137.913402,103.494847
2442,186.069541,170.137145,146.178120,105.371420,231.240277,215.411327,196.705634,178.470055,177.289414,168.603490,...,171.507786,183.435042,173.444397,118.299892,223.149907,182.556616,190.638823,168.938575,132.782917,110.991628

### Converting to Pandas Dataframe

In [9]:
sensors_data = pd.DataFrame(sensors_data)

### Position Data -- Labeling Columns

In [10]:
position_data.columns = ['Pos X', 'Pos Y', 'Pos Z']

In [11]:
position_data

          Pos X      Pos Y   Pos Z
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

### Converting to Pandas Dataframe

In [12]:
position_data = pd.DataFrame(position_data)

# Importing Libraries

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

import time
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Converting Numpy Arrays to Pandas DataFrames for Sensor and Position Data

In [14]:
X = sensors_data
y = position_data

# convert numpy array into pandas dataframe
X = pd.DataFrame(X)
y = pd.DataFrame(y)

# Define models

In [15]:
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

# Define k-fold cross-validation

In [16]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# Create empty dictionary to store the results

In [17]:
results_dict = {
    "Model": [],
    "Fold": [],
    "Mean Squared Error (MSE)": [],
    "Mean Absolute Error (MAE)": [],
    "Root Mean Squared Error (RMSE)": [],
    "Time taken": []
}

# Train and evaluate each model using k-fold cross-validation

In [18]:
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        
        # Add the results to the dictionary
        results_dict["Model"].append(type(model).__name__)
        results_dict["Fold"].append(i+1)
        results_dict["Mean Squared Error (MSE)"].append(mse)
        results_dict["Mean Absolute Error (MAE)"].append(mae)
        results_dict["Root Mean Squared Error (RMSE)"].append(rmse)
        results_dict["Time taken"].append(time_taken)
        
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Add the mean results to the dictionary
    results_dict["Model"].append(type(model).__name__)
    results_dict["Fold"].append("Mean")
    results_dict["Mean Squared Error (MSE)"].append(mean_mse)
    results_dict["Mean Absolute Error (MAE)"].append(mean_mae)
    results_dict["Root Mean Squared Error (RMSE)"].append(mean_rmse)
    results_dict["Time taken"].append(mean_time)

    print(f"Model: {type(model).__name__}")
    print(f"Mean - Mean Squared Error (MSE): {mean_mse:.2f}")
    print(f"Mean - Mean Absolute Error (MAE): {mean_mae:.2f}")
    print(f"Mean - Root Mean Squared Error (RMSE): {mean_rmse:.2f}")
    print(f"Mean - Time taken: {mean_time:.2f} seconds")

    
#Convert the results dictionary into a pandas dataframe
results_df = pd.DataFrame.from_dict(results_dict)

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 14.51
Fold 1 - Mean Absolute Error (MAE): 2.82
Fold 1 - Root Mean Squared Error (RMSE): 3.81
Fold 1 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 16.27
Fold 2 - Mean Absolute Error (MAE): 2.91
Fold 2 - Root Mean Squared Error (RMSE): 4.03
Fold 2 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 14.81
Fold 3 - Mean Absolute Error (MAE): 2.89
Fold 3 - Root Mean Squared Error (RMSE): 3.85
Fold 3 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 14.34
Fold 4 - Mean Absolute Error (MAE): 2.89
Fold 4 - Root Mean Squared Error (RMSE): 3.79
Fold 4 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 14.26
Fold 5 - Mean Absolute Error (MAE): 2.81
Fold 5 - Root Mean Squared Error (RMSE): 3.78
Fold 5 - Time taken: 0.01 seconds
Model: LinearRegression
Mean - Mean Squared Error (MSE): 14.84
Mean - Mean Absolute Error (MAE): 2.86
Mean - Root Mean Squared Error (RMSE): 3.85
Mean - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 135.17
Fold 1 - Mean Absolute Error (MAE): 6.57
Fold 1 - Root Mean Squared Error (RMSE): 11.63
Fold 1 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 127.18
Fold 2 - Mean Absolute Error (MAE): 6.31
Fold 2 - Root Mean Squared Error (RMSE): 11.28
Fold 2 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 137.04
Fold 3 - Mean Absolute Error (MAE): 6.43
Fold 3 - Root Mean Squared Error (RMSE): 11.71
Fold 3 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 126.96
Fold 4 - Mean Absolute Error (MAE): 6.38
Fold 4 - Root Mean Squared Error (RMSE): 11.27
Fold 4 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 133.44
Fold 5 - Mean Absolute Error (MAE): 6.29
Fold 5 - Root Mean Squared Error (RMSE): 11.55
Fold 5 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Mean - Mean Squared Error (MSE): 131.96
Mean - Mean Absolute Error (MAE): 6.40
Mean - Root Mean Squared Error (RMSE): 11.49
Mean - Time taken: 0.05 seconds
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 23.74
Fold 1 - Mean Absolute Error (MAE): 3.48
Fold 1 - Root Mean Squared Error (RMSE): 4.87
Fold 1 - Time taken: 2.54 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 25.21
Fold 2 - Mean Absolute Error (MAE): 3.50
Fold 2 - Root Mean Squared Error (RMSE): 5.02
Fold 2 - Time taken: 2.57 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 25.70
Fold 3 - Mean Absolute Error (MAE): 3.47
Fold 3 - Root Mean Squared Error (RMSE): 5.07
Fold 3 - Time taken: 3.96 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 22.48
Fold 4 - Mean Absolute Error (MAE): 3.42
Fold 4 - Root Mean Squared Error (RMSE): 4.74
Fold 4 - Time taken: 4.03 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 28.88
Fold 5 - Mean Absolute Error (MAE): 3.68
Fold 5 - Root Mean Squared Error (RMSE): 5.37
Fold 5 - Time taken: 4.15 seconds
Model: RandomForestRegressor
Mean - Mean Squared Error (MSE): 25.20
Mean - Mean Absolute Error (MAE): 3.51
Mean - Root Mean Squared Error (RMSE): 5.02
Mean - Time taken: 3.45 seconds
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 5.36
Fold 1 - Mean Absolute Error (MAE): 1.44
Fold 1 - Root Mean Squared Error (RMSE): 2.32
Fold 1 - Time taken: 0.10 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 5.78
Fold 2 - Mean Absolute Error (MAE): 1.46
Fold 2 - Root Mean Squared Error (RMSE): 2.40
Fold 2 - Time taken: 0.05 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 6.61
Fold 3 - Mean Absolute Error (MAE): 1.58
Fold 3 - Root Mean Squared Error (RMSE): 2.57
Fold 3 - Time taken: 0.05 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 5.82
Fold 4 - Mean Absolute Error (MAE): 1.48
Fold 4 - Root Mean Squared Error (RMSE): 2.41
Fold 4 - Time taken: 0.05 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 6.05
Fold 5 - Mean Absolute Error (MAE): 1.54
Fold 5 - Root Mean Squared Error (RMSE): 2.46
Fold 5 - Time taken: 0.05 seconds
Model: KNeighborsRegressor
Mean - Mean Squared Error (MSE): 5.93
Mean - Mean Absolute Error (MAE): 1.50
Mean - Root Mean Squared Error (RMSE): 2.43
Mean - Time taken: 0.06 seconds
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 33.23
Fold 1 - Mean Absolute Error (MAE): 3.82
Fold 1 - Root Mean Squared Error (RMSE): 5.76
Fold 1 - Time taken: 3.96 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 35.35
Fold 2 - Mean Absolute Error (MAE): 3.82
Fold 2 - Root Mean Squared Error (RMSE): 5.95
Fold 2 - Time taken: 3.84 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 34.51
Fold 3 - Mean Absolute Error (MAE): 3.77
Fold 3 - Root Mean Squared Error (RMSE): 5.87
Fold 3 - Time taken: 2.25 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 30.57
Fold 4 - Mean Absolute Error (MAE): 3.82
Fold 4 - Root Mean Squared Error (RMSE): 5.53
Fold 4 - Time taken: 1.93 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 32.30
Fold 5 - Mean Absolute Error (MAE): 3.82
Fold 5 - Root Mean Squared Error (RMSE): 5.68
Fold 5 - Time taken: 2.03 seconds
Model: XGBRegressor
Mean - Mean Squared Error (MSE): 33.19
Mean - Mean Absolute Error (MAE): 3.81
Mean - Root Mean Squared Error (RMSE): 5.76
Mean - Time taken: 2.80 seconds

# Saving the results to an Excel file

In [19]:
results_df.to_excel("Results__PL_scattered_48_frontback_400_Reg4.xlsx", index=False)

#Print a message indicating that the results have been saved to a file
print("Results saved to Results__PL_scattered_48_frontback_400_Reg4.xlsx file")

Results saved to Results__PL_scattered_48_frontback_400_Reg4.xlsx file